:root {
    --color-main: #6E00FF;
    --color-secondary: #FFB100;
    --bg-body: #F8F8FB;
    --main-accent: #6307E2;
    --main-text: #8492A6;
    --success: #28A745;
    --danger: #DC3545;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}