:root {
    --color-main: #6E00FF;
    --color-main: #FFB100;
    --color-main: #F8F8FB;
    --color-main: #6307E2;
    --color-main: #8492A6;
    --color-main: #28A745;
    --color-main: #DC3545;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}