#login-bg {
    background-color: #1B1F27;
    overflow: hidden;
}


/*--------------------------IMGS------------------------------*/
.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.stats {
    position: fixed;
    height: 100%;
    left: 145px;
    bottom: 0;
    width: 350px;
}

.icon {
    position: fixed;
    height: 395px;
    left: 150px;
    bottom: 325px;
    width: auto;
}


/*--------------------------FORM-------------------------------*/
.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login img {
    width: 70px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 355px;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    border: 1px solid #16BF78;
    margin-left: 600px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*--------------------------INPUTS-------------------------------*/
.login .input-form {
    margin-top: 10px;
    background-color: #252A34;
    color: #16BF78;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}

.login .input-form:hover {
    border: 1px solid #16BF78;
}

.login .input-form:active {
    border: 1px solid #16BF78;
}

.login .submit {
    margin-top: 10px;
    background-color: #16BF78;
    color: #1B1F27;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.login .input-form:hover {
    
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
