#login-bg {
    background-color: var(--color-dark);
    overflow: hidden;
}

.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login {
    background-color: var(--bg-body-dark);
    width: 355px;
    height: 320px;
}