.page-header {
    color: var(--color-white);
    margin: 1rem 0rem;
}

.analytics {
    display: grid;
    grid-template-columns: 65% auto;
    grid-gap: 2rem;
    margin-top: 3rem;
}

.card {
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.card-head {
    font-size: 1rem;
    color: var(--color-main);
    font-weight: 600;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--bg-body);
}

.card-body {
    padding: 1.5rem 2rem;
}

.emails-card .card-body {
    
}

.chart-wrapper {
    padding-top: 1rem 0rem;
}