.page-header {
    color: var(--color-white);
    margin: 1rem 0rem;
}

.analytics {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.card {
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1rem;
}

.card-head {
    font-size: 1.2rem;
    color: var(--color-main);
    font-weight: 600;
}

.card .card-head {
    padding: .5rem 1rem;
}