@import url(./global.css);
@import url(./color.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./main.css);
@import url(./login.css);
@import url(./registro.css);

/*------------------------------------------------------------------------------------------------------------------------------------------*/

#menu-toggle {
    display: none;
}

/*-------------------------------------------------------MEDIA-TELA-----------------------------------------------------------------------------*/

@media screen and (max-width: 1050px) {
    
}

@media screen and (max-width: 1000px) {


}

@media screen and (max-width: 840px) {
    .stats {
        display: none;
    }

    .form {
        width: 550px;
        margin-bottom: -23px;
        margin-left: -80px;
    }

    .login {
        margin-left: 0;
    }

    .icon {
        position: fixed;
        height: 300px;
        margin-left: -15px;
        margin-top: 15px;
    }

}