@import url(./global.css);
@import url(./color.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./main.css);
@import url(./login.css);
@import url(./registro.css);

/*------------------------------------------------------------------------------------------------------------------------------------------*/

#menu-toggle {
    display: none;
}

/*-------------------------------------------------------MEDIA-TELA-----------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .stats {
        display: none;
    }

    .form {
        width: 565px;
        margin-bottom: -23px;
        margin-left: 140px;
    }

    .login {
        margin-left: 0;
    }

    .icon {
        position: fixed;
        height: 300px;
        margin-left: 205px;
    }
    
}

@media screen and (max-width: 840px) {
    .stats {
        display: none;
    }

    .form {
        width: 550px;
        margin-bottom: -23px;
        margin-left: -80px;
    }

    .login {
        margin-left: 0;
    }

    .icon {
        position: fixed;
        height: 300px;
        margin-left: -15px;
        margin-top: 15px;
    }

}

@media screen and (max-width: 400px) {
    .stats {
        display: none;
    }

    .form {
        width: 450px;
        margin-left: -90px; 
    }

    .login {
        width: 275px;
        height: 360px;
    }

    .icon {
        position: fixed;
        height: 250px;
        margin-left: -54px;
    }
    
    .login .input-form {
        height: 35px;
    }

    .login .submit {
        height: 35px;
    }

    .login p {
        font-size: 10px;
    }
}

@media screen and (max-width: 360px) {
    .stats {
        display: none;
    }

    .form {
        width: 450px;
        margin-left: -109px;
        margin-bottom: 80px; 
    }

    .login {
        width: 275px;
        height: 360px;
    }

    .icon {
        position: fixed;
        height: 250px;
        margin-left: -54px;
    }

    .wave {
        position: fixed;
        height: 250px;
        margin-left: -54px;
    }
    
    .login .input-form {
        height: 35px;
    }

    .login .submit {
        height: 35px;
    }

    .login p {
        font-size: 10px;
    }
}